.pf {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.wgs {
    height: 241px;
    position: relative;
    width: 320px;
    display: inline-block;
    overflow: hidden;
}

.wgs__mole-head {
    height: 178px;
    position : absolute;
    width : 188px;
    left: 54.5px;
    transition: margin-top;
    transition-duration: 0.25s;

}

.wgs__dirt-pile {
    height : 110px;
    position: absolute;
    width : 320 px;
    bottom: 0;
}

.wgs__mole-head--hidden {
    height : 178px;
    position : absolute;
    width : 188px;
    left : 54.5 px;
    margin-top: 241px;
    /* transition: margin-top;
    transition: transform 0.25s; */
}